<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Create | BlogSphere</title>
    <link
      rel="stylesheet"
      href="/css/style.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <nav class="dashboard-nav full-width">
        <div class="dashboard-nav-inner">
          <div class="logo brand">BlogSphere</div>
          <div class="nav-btns">
            <span class="welcome-user">Welcome, user</span>
          </div>
        </div>
      </nav>
      <div class="blog-form">
        <form
          action="/blogs/create"
          method="post"
          class="auth-form"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <input
              type="text"
              name="title"
              id="title"
              placeholder="Title"
              required
            />
          </div>
          <div class="form-group">
            <textarea
              name="description"
              id="description"
              placeholder="Description"
              rows="5"
              required
            ></textarea>
          </div>
          <div class="form-group">
            <input
              type="file"
              name="image"
              id="image"
              accept="image/*"
            />
          </div>
          <button class="btn btn-signup w-100">Create blog</button>
        </form>
      </div>
    </main>
  </body>
</html>
